PORT=
NODE_ENV=
DB_LOCAL_URI=
SERVER_HOST=
CLIENT_HOST=
ACCESS_TOKEN_EXPIRE=
JWT_ISSUER=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE=
JWT_ACTIVATION_SECRET=
JWT_ACTIVATION_EXPIRE=
JWT_RESET_SECRET=
JWT_RESET_EXPIRE=
SENDGRID_API_KEY=
FROM_MAIL=